@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

* {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	border-radius: 0 !important;
}

body {
	background-color: #21233A;
}

a {
	text-decoration: none !important;
	color: #21233A;
}

/* Buttons */

.btn {
	background: rgb(154,36,146); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(154,36,146,1) 0%, rgba(235,42,141,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(154,36,146,1) 0%,rgba(235,42,141,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(154,36,146,1) 0%,rgba(235,42,141,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a2492', endColorstr='#eb2a8d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn.btn-secondary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,272e4c+100 */
	background: rgb(63,76,107); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(63,76,107,1) 0%, rgba(39,46,76,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(63,76,107,1) 0%,rgba(39,46,76,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(63,76,107,1) 0%,rgba(39,46,76,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#272e4c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Navigation */

.navbar-fixed {
	margin-bottom: 50px;
}

nav {
	background-color: #21233A;
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
}

nav:after {
	background: rgb(154,36,146); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(154,36,146,1) 0%, rgba(235,42,141,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(154,36,146,1) 0%,rgba(235,42,141,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(154,36,146,1) 0%,rgba(235,42,141,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a2492', endColorstr='#eb2a8d',GradientType=1 ); /* IE6-9 */

	content: " ";
	position: absolute;
	bottom: -5px;
	width: 100%;
	height: 5px;
}

nav .brand-logo {
	font-size: 25px;
	font-weight: 700;
	text-transform: lowercase;
}

nav .nav-wrapper {
	padding: 0 10px;
}

nav li a:hover {
	color: rgba(235,42,141,1);
}

/*********** Menu *********/

.menu {
	width: 80%;
	margin: 0 auto;
}

.menu li {
	display: inline-block;
	width: 150px;
	margin-bottom: 4px;
}

.menu li a {
	width: 100%;
	height: 150px;
	background-color: #fff;
	display: block;
	color: #21233a;
	text-align: center;
	padding-top: 20px;
	line-height: 60px;
	position: relative;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu li a:hover {
	background-color: #e0298e;
	color: #fff;
}

.menu li a:after {
	position: absolute;
	content: ' ';
	bottom: 0;
	height: 5px;
	width: 0;
	left: 0;
	background-color: #21233a;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu li a i {
	display: block !important;
	font-size: 50px !important;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu li a:hover:after {
	width: 100%;
}

.menu li a:hover i {
	color: #fff;
}

.menu p {
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	display: inline-block;
	padding: 6px 10px;
	background-color: #e0298e;
	margin: 0;
}

.menu-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.menu-wrapper.opened {
	width: 250px;
}

.menu-wrapper .valign-wrapper {
	height: 90%;
}

.menu ul {
	margin: 0;
}

.menu li a span {
	font-weight: 700;
	color: #fff;
	background-color: #e0298e;
	margin: -70px 0 0 0;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu li a:hover span {
	color: #fff;
	background-color: #e0298e;
}

.activated .menu li a span {
	margin: 9px 0 0;
	/* display: none; */
}

.activated .menu {
	width: 250px;
	margin: 0;
	padding: 10px;
}

.activated.menu-wrapper {
	position: fixed;
	top: 60px;
	width: 250px;
}

.menu-wrapper.activated .valign-wrapper {
	display: block;
}

.activated .menu li {
	width: 100%;
}

.activated .menu li a {
	height: auto;
	background-color: #f2f2f2;
	text-align: left;
	line-height: normal;
	padding: 0;
	/* margin-bottom: 10px; */
	vertical-align: middle;
}

.activated .menu li a:hover {
	background-color: #fff;
	color: #21233a;
}

.activated .menu li a i {
	display: inline-block !important;
	background-color: #d5d5d5;
	font-size: 23px !important;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-right: 10px;
	vertical-align: middle;
}

.activated .menu li.active a i,
.activated .menu li a:hover i {
	background-color: #e0298e;
	color: #fff;
}

.activated .menu li a:hover:after {
	width: 0;
}

.activated .menu p {
	display: none;
}

.valign-wrapper.activated {
	width: 250px;
}

/* Content */

.content-wrapper {
	margin-left: 250px;
}

/* Cards */

.card .card-title, .product-title {
	padding: 10px 20px;
	font-weight: 700;
	color: #21233a;
}

.product-title {
	padding: 0;
}

span.chip {
	background-color: #21233a;
	color: #fff;
	margin: 2px 0;
	padding: 0 5px;
	height: auto;
}

span.chip i {
	color: #e0298e;
}

.card .card-title:after, .product-title:after {
	content: ' ';
	display: block;
	margin: 5px 0;
	width: 50px;
	height: 5px;
	background: rgb(154,36,146); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(154,36,146,1) 0%, rgba(235,42,141,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(154,36,146,1) 0%,rgba(235,42,141,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(154,36,146,1) 0%,rgba(235,42,141,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a2492', endColorstr='#eb2a8d',GradientType=1 ); /* IE6-9 */
}

.card .card-content {
	padding: 20px 30px 30px;
}

.card .card-content .row {
	margin: 0 0 10px;
}

.card .card-image {
	height: 190px;
	overflow: hidden;
}

p.price {
	font-weight: 700;
	margin: 10px 0 0 !important;
	font-size: 20px;
	color: #21233a;
}

p.price span {
	color: #dd298e;
}

/* forms */

[type="checkbox"]+label {
	line-height: 20px;
}

[type="checkbox"].filled-in:checked+label:before {
	border-right: 2px solid #dd298e;
	border-bottom: 2px solid #e0298e;
}

[type="checkbox"].filled-in:checked+label:after {
	border: 2px solid #21233a;
	background-color: #21233a;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #e0298e;
	-webkit-box-shadow: 0 1px 0 0 #e0298e;
	box-shadow: 0 1px 0 0 #e0298e;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #e0298e;
}

/* Preloader */

#app {
	opacity: 0;
}

#app.loaded {
	opacity: 1;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 1.5s;
}

.action-section {
	padding: 0;
	height: 20px;
	background-color: #e0298e;
}

.preloader-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: #21233a;
	z-index: 1039;
}

.preloader-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50%;
	background: #21233a;
	z-index: 1039;
}

.preloader-top .action-section {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15px;
	left: 0;
	padding: 0;
	animation-name: loader;
	animation-duration: 2s;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-bottom .action-section {
	position: absolute;
	top: 0;
	width: 100%;
	height: 15px;
	left: 0;
	padding: 0;
	animation-name: loader;
	animation-duration: 2s;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); /* Safari 4.0 - 8.0 */
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.preloader-top.open {
	height: 0;
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 1s;
}

.preloader-bottom.open {
	height: 0;
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 1s;
}

section.main-section.loaded {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 1s;
}

@-webkit-keyframes loader {
	0% {
		width: 0;
	}
	25% {
		width: 50%;
	}
	50% {
		width: 100%;
	}
	75% {
		width: 100%;
	}
	100% {
		width: 100%;
	}

}